body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 750px) {
  body {
    margin: 20px;
  }
}

@font-face {
  font-family: myFont;
  src: url(../assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: myOutfit;
  src: url(../assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

.foodimg {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@media screen and (min-width: 750px) {
  .foodimg {
    border-radius: 20px;
  }
}

.Firstsection {
  padding: 20px;
}

.Firstsection h1 {
  font-weight: 7 00;
  color: #302d2c;
  font-size: 30px;
  font-family: myFont;
}

@media screen and (min-width: 750px) {
  .Firstsection h1 {
    font-size: 50px;
  }
}

@media screen and (min-width: 850px) {
  .Firstsection h1 {
    font-size: 70px;
  }
}

.Firstsection p {
  font-size: 16px;
  color: #5f574e;
  font-weight: 400;
  font-family: myOutfit;
}

@media screen and (min-width: 750px) {
  .Firstsection p {
    font-size: 25px;
  }
}

@media screen and (min-width: 850px) {
  .Firstsection p {
    font-size: 35px;
  }
}

.Secondsection {
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #fff5fa;
  margin: 20px;
  border-radius: 20px;
}

@media screen and (min-width: 750px) {
  .Secondsection {
    padding-left: 30px;
  }
}

.Secondsection h3 {
  color: #7b284f;
  font-weight: 600;
  font-family: myOutfit;
  font-size: 25px;
  padding: 20px;
  padding-bottom: 0px;
}

@media screen and (min-width: 750px) {
  .Secondsection h3 {
    font-size: 35px;
  }
}

@media screen and (min-width: 850px) {
  .Secondsection h3 {
    font-size: 45px;
  }
}

.Secondsection li {
  font-family: myOutfit;
  font-size: 16px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: #302d2c;
}

.Secondsection li .bold {
  color: black;
  font-weight: 700;
  gap: 10px;
}

@media screen and (min-width: 750px) {
  .Secondsection li {
    font-size: 25px;
  }
}

@media screen and (min-width: 850px) {
  .Secondsection li {
    font-size: 35px;
  }
}

.Thirdsection {
  padding: 20px;
}

.Thirdsection h2 {
  color: #854632;
  font-weight: 400;
  font-size: 30px;
  font-family: myFont;
}

@media screen and (min-width: 750px) {
  .Thirdsection h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 850px) {
  .Thirdsection h2 {
    font-size: 60px;
  }
}

.Thirdsection ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding-left: 20px;
}

@media screen and (min-width: 750px) {
  .Thirdsection ul {
    -webkit-padding-start: 40px;
            padding-inline-start: 40px;
  }
}

.Thirdsection ul li {
  -webkit-box-shadow: 0px 5px 5px 2px rgba(175, 169, 169, 0.86);
          box-shadow: 0px 5px 5px 2px rgba(175, 169, 169, 0.86);
  font-family: myOutfit;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-bottom: 20px;
  color: #302d2c;
  padding-top: 10px;
}

@media screen and (min-width: 750px) {
  .Thirdsection ul li {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .Thirdsection ul li {
    font-size: 38px;
  }
}

.fourthsection {
  padding: 20px;
}

.fourthsection h2 {
  color: #854632;
  font-weight: 400;
  font-size: 30px;
  font-family: myFont;
}

@media screen and (min-width: 750px) {
  .fourthsection h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 850px) {
  .fourthsection h2 {
    font-size: 60px;
  }
}

.fourthsection .bold {
  color: black;
  font-weight: 700;
}

.fourthsection ol {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  padding-left: 20px;
}

@media screen and (min-width: 750px) {
  .fourthsection ol {
    -webkit-padding-start: 40px;
            padding-inline-start: 40px;
  }
}

.fourthsection ol li {
  font-family: myOutfit;
  padding-bottom: 10px;
  color: #302d2c;
}

@media screen and (min-width: 750px) {
  .fourthsection ol li {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .fourthsection ol li {
    font-size: 38px;
    padding-bottom: 20px;
  }
}

.fifthSection {
  padding: 20px;
}

.fifthSection h2 {
  color: #854632;
  font-weight: 400;
  font-size: 30px;
  font-family: myFont;
}

@media screen and (min-width: 750px) {
  .fifthSection h2 {
    font-size: 50px;
  }
}

@media screen and (min-width: 850px) {
  .fifthSection h2 {
    font-size: 60px;
  }
}

.fifthSection p {
  font-family: myOutfit;
  color: #302d2c;
}

@media screen and (min-width: 750px) {
  .fifthSection p {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .fifthSection p {
    font-size: 38px;
    padding-bottom: 20px;
  }
}

.fifthSection ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

.fifthSection ul li {
  -webkit-box-shadow: 0px 5px 5px 2px rgba(175, 169, 169, 0.86);
          box-shadow: 0px 5px 5px 2px rgba(175, 169, 169, 0.86);
  padding-left: 10px;
  margin-bottom: 20px;
  font-family: myOutfit;
  color: #302d2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

@media screen and (min-width: 750px) {
  .fifthSection ul li {
    font-size: 28px;
  }
}

@media screen and (min-width: 850px) {
  .fifthSection ul li {
    font-size: 38px;
  }
}

.fifthSection ul .highlight {
  color: #854632;
  font-weight: 800;
}
/*# sourceMappingURL=Style.css.map */